<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search astronauts</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
    <% if (appState === 'loggedin') { %>
        <p><a href="logout" id="sign-up">log out</a></p>
    <% } else { %>
        <p><a href="register" id="sign-up">sign up</a></p>
    <% } %>
    
    <div class="navbar">
        <div class="navbar-container">
            <div class="navbar-item-one">
                <h1><a href="/" id="app-title"><%=appName%></a></h1>
            </div>
            <div class="navbar-item-two">
                <p><a href="astronauts" class="navbar-astro <%= currentPage === 'astronauts' ? 'active' : '' %>">astronauts</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="missions" class="navbar-astro">missions</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="spacecraft" class="navbar-astro">spacecraft</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="about" class="navbar-astro">about</a></p>
            </div>
        </div>
    </div>

    <form action="/search" method="GET" class="search-form">
        <input id="search-box" class="search-bar" type="text" name="searchbox" placeholder="search astronauts">
        <input type="submit" value="Search" class="search-button">
    </form>

    <p><a href="/astronauts" class="search-astro-back"><</a></p>

    <% if (searchResult.length > 0) { %>
        <div class="astronaut-container">
            <% searchResult.forEach(function(astronaut) { %>
                <div class="astronaut">
                    <a href="astronaut/<%= astronaut.astronaut_id %>">
                        <h3 class="astronaut-title"><%= astronaut.astronaut_name %></h3>
                        <img src="<%= astronaut.astronaut_photo %>" alt="<%= astronaut.astronaut_name %>" class="astronaut-photo">
                        <div class="astronaut-text-style">
                            <p class="astronaut-data"><%= astronaut.country %></p>
                            <p class="astronaut-data"><%= astronaut.hours_in_space %> hours in space</p>
                        </div>
                    </a>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p class="astronaut-unavailable">No matching astronauts</p>
    <% } %>

</body>
</html>