<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>missions</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
</head>
<body>
    <% if (appState === 'loggedin') { %>
        <p><a href="logout" id="sign-up">log out</a></p>
    <% } else { %>
        <p><a href="login" id="sign-up">log in</a></p>
    <% } %>

    <div class="navbar">
        <div class="navbar-container">
            <div class="navbar-item-one">
                <h1><a href="/" id="app-title"><%=appName%></a></h1>
            </div>
            <div class="navbar-item-two">
                <p><a href="astronauts" class="navbar-astro">astronauts</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="missions" class="navbar-astro <%= currentPage === 'missions' ? 'active' : '' %>">missions</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="spacecraft" class="navbar-astro">spacecraft</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="about" class="navbar-astro">about</a></p>
            </div>
        </div>
    </div>

    <form action="/searchmissions" method="GET" class="search-form">
        <input id="search-box" class="search-bar" type="text" name="searchbox" placeholder="search missions">
        <input type="submit" value="Search" class="search-button">
    </form>

    <div class="add-data-position">
        <p><a href="addmission" class="add-data">+</a></p>
    </div>

    <% if (allMissions.length > 0) { %>
        <div class="data-container">
            <% allMissions.forEach(function(mission) { %>
                <div class="data">
                    <a href="mission/<%= mission.mission_id %>">
                        <h3 class="data-title"><%= mission.mission_name %></h3>
                        <img src="<%= mission.mission_insignia %>" alt="<%= mission.mission_name %>" class="mission-photo">
                        <div class="data-text-style">
                            <p class="extra-data"><%= mission.space_agency %></p>
                            <p class="extra-data"><%= mission.launch_location %></p>
                        </div>
                    </a>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p class="data-unavailable">No missions available.</p>
    <% } %>
</body>
</html>