<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>astronaut</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <h1><a href="/" id="app-title"><%=appName%></a></h1>
    <p><a href="register" id="sign-up">sign up</a></p>

    <% if (astronaut.length > 0) { %>
        <div class="single-astronaut-container">
            <% astronaut.forEach(function(astronaut) { %>
                <div class="single-astronaut">
                    <p><a href="/astronauts" class="single-astro-back"><</a></p>
                    <div class="single-astro-flex-container">
                        <div class="single-astro-flex-one">
                            <img src="<%= astronaut.astronaut_photo %>" alt="<%= astronaut.astronaut_name %>" class="single-astro-photo" width="300">
                        </div>
                        <div class="single-astro-flex-two">
                            <h3 class="single-astronaut-title"><%= astronaut.astronaut_name %></h3>

                                <% if (astronaut.date_of_death === 'N/A' || astronaut.date_of_death === null) { %>
                                     <p class="single-astronaut-data"><%= astronaut.date_of_birth %></p>
                                <% } else { %>
                                     <p class="single-astronaut-data"><%= astronaut.date_of_birth %> - <%= astronaut.date_of_death %></p>
                                <% } %>

                                <p class="single-astronaut-data">Country: <%= astronaut.country %></p>
                                <p class="single-astronaut-data">Hours in Space: <%= astronaut.hours_in_space %></p>
                        </div>
                    </div>
                    <p class="single-astronaut-data" id="single-astronaut-profile">Astronaut Profile: <%- astronaut.astronaut_profile.replace(/\r\n/g, '<br>') %></p>    
                </div>
             <% }); %>
        </div>
    <% } else { %>
        <p>No astronauts available.</p>
    <% } %>

    
</body>
</html>