<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mission</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <% if (appState === 'loggedin') { %>
        <p><a href="/logout" id="sign-up">log out</a></p>
    <% } else { %>
        <p><a href="/register" id="sign-up">sign up</a></p>
    <% } %>
    
    <div class="navbar">
        <div class="navbar-container">
            <div class="navbar-item-one">
                <h1><a href="/" id="app-title"><%=appName%></a></h1>
            </div>
            <div class="navbar-item-two">
                <p><a href="/astronauts" class="navbar-astro">astronauts</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="/missions" class="navbar-astro <%= currentPage === 'missions' ? 'active' : '' %>">missions</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="/spacecraft" class="navbar-astro">spacecraft</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="/about" class="navbar-astro">about</a></p>
            </div>
        </div>
    </div>

    <p><a href="/missions" class="single-data-back"><</a></p>

    <% if (mission.length > 0) { %>
        <div class="single-data-container">
            <% mission.forEach(function(mission) { %>
                <div class="single-data">
                    <div class="single-data-flex-container">
                        <div class="single-data-flex-one">
                            <img src="<%= mission.mission_insignia %>" alt="<%= mission.mission_name %>" class="single-data-photo" width="300">
                        </div>
                        <div class="single-data-flex-two">
                            <h3 class="single-data-title"><%= mission.mission_name %></h3>
                            <p class="single-data-data">Space agency: <%= mission.space_agency %></p>
                            <p class="single-data-data">Launch site: <%= mission.launch_location %></p>
                            <p class="single-data-data">Spacecraft: <%= mission.spacecraft %></p>
                            <p class="single-data-data"><%= mission.launch_date %> - <%= mission.return_date %></p>
                        </div>
                    </div>
                    <p class="single-data-data" id="single-data-profile">Mission Profile: <%- mission.mission_details.replace(/\r\n/g, '<br>') %></p>    
                </div>
             <% }); %>
        </div>
    <% } else { %>
        <p>No missions available.</p>
    <% } %>
</body>
</html>