<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mission</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <% if (appState === 'loggedin') { %>
        <p><a href="/logout" id="sign-up">log out</a></p>
    <% } else { %>
        <p><a href="/login" id="sign-up">log in</a></p>
    <% } %>
    
    <div class="navbar">
        <div class="navbar-container">
            <div class="navbar-item-one">
                <h1><a href="/" id="app-title"><%=appName%></a></h1>
            </div>
            <div class="navbar-item-two">
                <p><a href="/astronauts" class="navbar-astro">astronauts</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="/missions" class="navbar-astro <%= currentPage === 'missions' ? 'active' : '' %>">missions</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="/spacecraft" class="navbar-astro">spacecraft</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="/about" class="navbar-astro">about</a></p>
            </div>
        </div>
    </div>

    <p><a href="/missions" class="single-data-back"><</a></p>

    <% if (completeCrew === 'no') { %>
        <div class="add-crew-position">
            <p><a href="/addcrew/<%= mission[0].mission_id %>" class="add-crew">add crew</a></p>
        </div>
    <% } %>

    <% if (mission.length > 0 && mission[0]) { %>
        <div class="single-data-container">
            <div class="single-data">
                <div class="single-data-flex-container">
                    <div class="single-data-flex-one">
                        <% if (mission[0].mission_insignia) { %>
                            <img src="<%= mission[0].mission_insignia %>" alt="<%= mission[0].mission_name %>" class="single-data-photo" width="300">
                        <% } %>
                    </div>
                    <div class="single-data-flex-two">
                        <h3 class="single-data-title"><%= mission[0].mission_name %></h3>
                        <p class="single-data-data">Space agency: <%= mission[0].space_agency %></p>
                        <p class="single-data-data">Launch site: <%= mission[0].launch_location %></p>
                        <p class="single-data-data">Spacecraft: <%= mission[0].spacecraft %></p>
                        <p class="single-data-data">Crew size: <%= mission[0].crew_size %></p>
                        <p class="single-data-data"><%= mission[0].launch_date %> - <%= mission[0].return_date %></p>
                    </div>
                </div>
                <% if (mission[0].mission_details) { %>
                    <p class="single-data-data-title">Mission Information:</p>
                    <p class="single-data-data" id="single-data-profile"><%- mission[0].mission_details.replace(/\r\n/g, '<br>') %></p>
                <% } %>  
            </div>
        </div>
    <% } else { %>
        <p>No missions available.</p>
    <% } %>

    <% if (astronauts === 'yes') { %>
        <h2 class="single-mission-crew-title">Crew members:</h2>
        <% if (mission.length > 0) { %>
            <div class="data-container">
                <% mission.forEach(function(mission) { %>
                    <div class="data">
                        <a href="/astronaut/<%= mission.astronaut_id %>">
                            <h3 class="data-title"><%= mission.astronaut_name %></h3>
                            <img src="<%= mission.astronaut_photo %>" alt="<%= mission.astronaut_name %>" class="mission-photo">
                            <div class="data-text-style">
                                <p class="extra-data"><%= mission.country %></p>
                                <p class="extra-data"><%= mission.hours_in_space %> hours in space</p>
                            </div>
                        </a>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <p class="data-unavailable">No astronauts available.</p>
        <% } %>
    <% } %>
</body>
</html>