<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spacecraft</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <% if (appState === 'loggedin') { %>
        <p><a href="/logout" id="sign-up">log out</a></p>
    <% } else { %>
        <p><a href="/login" id="sign-up">log in</a></p>
    <% } %>
    
    <div class="navbar">
        <div class="navbar-container">
            <div class="navbar-item-one">
                <h1><a href="/" id="app-title"><%= appName %></a></h1>
            </div>
            <div class="navbar-item-two">
                <p><a href="/astronauts" class="navbar-astro">astronauts</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="/missions" class="navbar-astro">missions</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="/spacecraft" class="navbar-astro <%= currentPage === 'spacecraft' ? 'active' : '' %>">spacecraft</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="/about" class="navbar-astro">about</a></p>
            </div>
        </div>
    </div>

    <p><a href="/spacecraft" class="single-data-back"><</a></p>

    <% if (spacecraft.length > 0) { %>
        <div class="single-data-container">
            <% spacecraft.forEach(function(spacecraft) { %>
                <div class="single-data">
                    <div class="single-data-flex-container">
                        <div class="single-data-flex-one">
                            <img src="<%= spacecraft.craft_photo %>" alt="<%= spacecraft.craft_name %>" class="single-data-photo" width="300">
                        </div>
                        <div class="single-data-flex-two">
                            <h3 class="single-data-title"><%= spacecraft.craft_name %></h3>
                            <p class="single-data-data">Status: <%= spacecraft.craft_status %></p>
                            <p class="single-data-data">Total launches: <%= spacecraft.craft_launches %></p>
                        </div>
                    </div>
                    <p class="single-data-data-title">Spacecraft Information:</p>
                    <p class="single-data-data" id="single-data-profile"><%- spacecraft.craft_details.replace(/\r\n/g, '<br>') %></p>    
                </div>
             <% }); %>
        </div>
    <% } else { %>
        <p>No spacecraft available.</p>
    <% } %>
    
    <% if (mission.length > 0) { %>
        <h2 class="single-mission-crew-title">Missions:</h2>
        <div class="data-container">
            <% mission.forEach(function(mission) { %>
                <div class="data">
                    <a href="/mission/<%= mission.mission_id %>">
                        <h3 class="data-title"><%= mission.mission_name %></h3>
                        <img src="<%= mission.mission_insignia %>" alt="<%= mission.mission_name %>" class="mission-photo">
                        <div class="data-text-style">
                            <p class="extra-data"><%= mission.space_agency %></p>
                            <p class="extra-data"><%= mission.launch_location %></p>
                        </div>
                    </a>
                </div>
            <% }); %>
        </div>
    <% } %>
</body>
</html>