<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astronaut</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <% if (appState === 'loggedin') { %>
        <p><a href="/logout" id="sign-up">log out</a></p>
    <% } else { %>
        <p><a href="/login" id="sign-up">log in</a></p>
    <% } %>
    
    <div class="navbar">
        <div class="navbar-container">
            <div class="navbar-item-one">
                <h1><a href="/" id="app-title"><%= appName %></a></h1>
            </div>
            <div class="navbar-item-two">
                <p><a href="/astronauts" class="navbar-astro <%= currentPage === 'astronauts' ? 'active' : '' %>">astronauts</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="/missions" class="navbar-astro">missions</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="spacecraft" class="navbar-astro">spacecraft</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="about" class="navbar-astro">about</a></p>
            </div>
        </div>
    </div>

    <p><a href="/astronauts" class="single-data-back"><</a></p>
    
    <% if (astronaut.length > 0 && astronaut[0]) { %>
        <div class="single-data-container">
            <div class="single-data">
                <div class="single-data-flex-container">
                    <div class="single-data-flex-one">
                        <img src="<%= astronaut[0].astronaut_photo %>" alt="<%= astronaut[0].astronaut_name %>" class="single-data-photo" width="300">
                    </div>
                    <div class="single-data-flex-two">
                        <h3 class="single-data-title"><%= astronaut[0].astronaut_name %></h3>
                        <% if (astronaut[0].date_of_death === 'N/A' || astronaut[0].date_of_death === null) { %>
                            <p class="single-data-data"><%= astronaut[0].date_of_birth %></p>
                        <% } else { %>
                            <p class="single-data-data"><%= astronaut[0].date_of_birth %> - <%= astronaut[0].date_of_death %></p>
                        <% } %>

                        <p class="single-data-data">Country: <%= astronaut[0].country %></p>
                        <p class="single-data-data">Hours in Space: <%= astronaut[0].hours_in_space %></p>
                    </div>
                </div>
                <p class="single-data-data-title">Astronaut bio:</p>
                <p class="single-data-data" id="single-data-profile"><%- astronaut[0].astronaut_profile.replace(/\r\n/g, '<br>') %></p>    
            </div>
        </div>
    <% } else { %>
        <p>No astronauts available.</p>
    <% } %>

    <% if (missions === 'yes') { %>
        <h2 class="single-mission-crew-title">Missions:</h2>
        <% if (astronaut.length > 0) { %>
            <div class="data-container">
                <% astronaut.forEach(function(astronaut) { %>
                    <div class="data">
                        <a href="/mission/<%= astronaut.mission_id %>">
                            <h3 class="data-title"><%= astronaut.mission_name %></h3>
                            <img src="<%= astronaut.mission_insignia %>" alt="<%= astronaut.mission_name %>" class="mission-photo">
                            <div class="data-text-style">
                                <p class="extra-data"><%= astronaut.space_agency %></p>
                                <p class="extra-data"><%= astronaut.launch_location %></p>
                            </div>
                        </a>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <p class="data-unavailable">No missions available.</p>
        <% } %>
    <% } %>
</body>
</html>