<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spacecraft</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
</head>
<body>
    <% if (appState === 'loggedin') { %>
        <p><a href="logout" id="sign-up">log out</a></p>
    <% } else { %>
        <p><a href="login" id="sign-up">log in</a></p>
    <% } %>

    <div class="navbar">
        <div class="navbar-container">
            <div class="navbar-item-one">
                <h1><a href="/" id="app-title"><%= appName %></a></h1>
            </div>
            <div class="navbar-item-two">
                <p><a href="astronauts" class="navbar-astro">astronauts</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="missions" class="navbar-astro">missions</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="spacecraft" class="navbar-astro <%= currentPage === 'spacecraft' ? 'active' : '' %>">spacecraft</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="about" class="navbar-astro">about</a></p>
            </div>
        </div>
    </div>
    
    <form action="/searchspacecraft" method="GET" class="search-form">
        <input id="search-box" class="search-bar" type="text" name="searchbox" placeholder="search spacecraft">
        <input type="submit" value="Search" class="search-button">
    </form>

    <div class="add-data-position">
        <p><a href="addspacecraft" class="add-data">+</a></p>
    </div>

    <% if (allCraft.length > 0) { %>
        <div class="data-container">
            <% allCraft.forEach(function(spacecraft) { %>
                <div class="data">
                    <a href="spacecraft/<%= spacecraft.craft_id %>">
                        <h3 class="data-title"><%= spacecraft.craft_name %></h3>
                        <img src="<%= spacecraft.craft_photo %>" alt="<%= spacecraft.craft_name %>" class="craft-photo">
                        <div class="data-text-style">
                            <p class="extra-data"><%= spacecraft.craft_status %></p>
                        </div>
                    </a>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p class="data-unavailable">No spacecraft available.</p>
    <% } %>
</body>
</html>